# Environments
.env
.venv/
env/
venv/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
*.so

# Local Databases
*.db
*.sqlite3
fintrace_local.db

# Logs and Checkpoints
*.log
.pytest_cache/
alembic/.pytest_cache/

# OS Specific (Mac/Windows)
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml
